:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-bg-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;

  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--text-color);
  background-color: var(--white-bg-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--pressed-state);
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  text-align: center;

  color: var(--white-bg-color);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;
  text-transform: capitalize;

  color: var(--dark-color);
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-transform: capitalize;

  color: var(--dark-color);
}

.header {
  background-color: var(--accent-color);
}

.logo {
  font-family: 'Raleway', sans-serif;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;

  color: var(--primary-brand);
}

.header-studio {
  color: var(--dark-color);
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--dark-color);
}

.header-address {
  font-style: normal;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.32px;

  color: var(--text-color);
}

.hero {
  background-color: var(--dark-color);
}

.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-bg-color);
  background-color: var(--primary-brand);

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

.team {
  background-color: var(--light-color);
}

.team-item {
  background-color: var(--white-bg-color);
}

.footer {
  background-color: var(--dark-color);
}
.footer-studio {
  color: var(--light-color);
}
.footer-descr {
  color: var(--light-color);
}
